server:
  port: 4004

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: patient-service-route
          uri: lb://PATIENT-SERVICE
          predicates:
            - Path=/api/patients/**
          filters:
            - StripPrefix=1

        - id: appointment-service-route
          uri: lb://APPOINTMENT-SERVICE
          predicates:
            - Path=/api/appointments/**
          filters:
            - StripPrefix=1

        - id: analytics-service-route
          uri: lb://ANALYTICS-SERVICE
          predicates:
            - Path=/api/analytics/**
          filters:
            - StripPrefix=1

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/